body {
    background-color: #000000;
    min-height: max(884px, 100dvh);
}

.no-scrollbar::-webkit-scrollbar { 
    display: none; 
} 

.no-scrollbar { 
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}
